<ul class="list-group list-group-flush">
  <li class="list-group-item"><b>SEH Representative: </b><%= work_permit.seh_representative %></li>
  <li class="list-group-item"><b>Alternative Contact: </b><%= work_permit.alternative_contact %></li>
</ul>