<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <%= buildings_html(work_permit.buildings) %>
  </li>

  <% if work_permit.bypass_building? || work_permit.bypass_ozone? || work_permit.cover_uv_sensor? %>
    <li class="list-group-item">
      <b>Bypasses: </b>
      <h2 class="fw-bold underline mb-0">
        <% if work_permit.bypass_building? %>
          <p class="text-danger mb-0">Bypass Building!</p>
        <% end %>
        <% if work_permit.bypass_ozone? %>
          <p class="text-warning mb-0">Bypass Ozone!</p>
        <% end %>
        <% if work_permit.cover_uv_sensor? %>
          <p class="text-info mb-0">Cover UV Sensor!</p>
        <% end %>
      </h2>
    </li>
  <% end %>

  <li class="list-group-item">
    <b>Work Location: </b><%= work_permit.work_location %>
  </li>

  <li class="list-group-item">
    <b>Work Description: </b><%= simple_format(work_permit.work_description, { class: 'mb-0' }) %>
  </li>

  <% if work_permit.notes && !work_permit.notes.empty? %>
    <li class="list-group-item"><b>Notes: </b><%= simple_format(work_permit.notes) %></li>
  <% end %>
</ul>