<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <%= buildings_html(work_permit.buildings) %>
  </li>

  <li class="list-group-item">
    <b>Building/Ozone Bypass?: </b>
    <% if work_permit.bypass_building? && work_permit.bypass_ozone? %>
      <h2 class="text-danger fw-bold underline">Bypass Building & Ozone!</h2>
    <% elsif work_permit.bypass_building? %>
      <h2 class="text-danger fw-bold underline">Bypass Building!</h2>
    <% elsif work_permit.bypass_ozone? %>
      <h2 class="text-danger fw-bold underline">Bypass Ozone!</h2>
    <% else %>
      <i class="bi bi-x-lg"></i>
    <% end %>
  </li>

  <li class="list-group-item">
    <b>Work Location: </b><%= work_permit.work_location %>
  </li>

  <li class="list-group-item">
    <b>Work Description: </b><%= simple_format(work_permit.work_description, { class: 'mb-0' }) %>
  </li>

  <% if work_permit.notes && !work_permit.notes.empty? %>
    <li class="list-group-item"><b>Notes: </b><%= simple_format(work_permit.notes) %></li>
  <% end %>
</ul>