<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
  <div class="toast p-3 bg-info" data-toast-target="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div id="toast-body" class="toast-body"></div>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>